@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
.root
{
    -fx-font-family: 'Russo One', sans-serif;;
    -fx-background-color: #d0d3d4;
}
.cdeu-button
{
    -fx-background-color: #FBB92C;
    -fx-font-family: 'Russo One', sans-serif;;
    -fx-text-fill: #071E22;
    -fx-font-size: 24;
    -fx-border-radius: 25px;
}
.cdeu-button:hover{
    -fx-background-color: #009FE3;

}
.label
{
    -fx-font-family: 'Russo One', sans-serif;;
    -fx-text-fill: #071E22;
    -fx-font-size: 20;
}
.events-label
{
    -fx-font-family: 'Russo One', sans-serif;;
    -fx-text-fill: #071E22;
    -fx-font-size: 48;
}

.log-out-btn
{
    -fx-background-color: transparent;
    -fx-text-fill: #009FE3;
    -fx-font-size: 16;
}
.log-out-btn:hover
{
    -fx-text-fill: #FBB92C;
}

/* NavBar
 */
.split-pane-divider {
    -fx-background-color: transparent;
}
.nav-bar-top
{
    -fx-background-color: #071E22;
}
.nav-bar-bottom
{
    -fx-background-color: #009FE3;
}
.nav-bar-label
{
    -fx-font-family: 'Russo One', sans-serif;;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 45;
}
.nav-bar-image
{
    -fx-background-image: url(/GUI/Images/EA.png);
}
/* ScrollPane
 */
.ScrollPane
{
    -fx-background-color: #FFFFFF;
}

.borderPane
{
    -fx-border-color: #071E22;
    -fx-border-width: 5px 5px 5px 5px;
}
.events-button-image
{
    -fx-background-color: transparent;
    -fx-border-color: #009FE3;
    -fx-border-width: 0px 0px 40px 0px;
}

.events-image
{
    -fx-border-color: #071E22;
    -fx-border-width: 5px 5px 5px 5px;
}

.pane-in-my-ass
{
    -fx-background-color: #D9D9D9;
}

.scroll-pane > .viewport {
    -fx-border-color: transparent;
    -fx-background-color: #d0d3d4;
}

.scroll-pane
{
    -fx-border-color: transparent;
    -fx-background-color: #d0d3d4;
}